<div class="process-Container">
  <div class="Rectangle-process">

    <img src="../../assets/iPhone 15.png">

    <div class="image-text-container">
      <img src="../../assets/Frame.png" alt="Example Image" class="image">
      <h4>Strategy Development</h4>
    </div>
    <div class="image-text-container1">
      <img src="../../assets/Frame1.png" alt="Example Image" class="image">
      <h4>visual design</h4>
    </div>
    <div class="image-text-container2">
      <img src="../../assets/Frame copy.png" alt="Example Image" class="image">
      <h4>Launch & monitor</h4>
    </div>
    <div class="image-text-container3">
      <img src="../../assets/Frame copy.png" alt="Example Image" class="image">
      <h4>Development</h4>
    </div>

  </div>
</div>
