.hero-container {
  width: 1865px;
  height: 820px;
  position:relative;
  top: 10px;
  left: 26px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;

}

@keyframes slideInText {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInImage {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero-text {
  width: 1072px;
  height: 359px;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin-left: 30px;
  line-height: 133px;
  animation: slideInText 1s ease-out forwards;
}

.hero-text span {
  display: block;
}

.hero-image {
  width: 989px;
  height: 437px;
  border-radius: 20px;
  flex-shrink: 0;
  margin-top: -140px;
  margin-left: -10px;
  z-index: 1;
  animation: slideInImage 1s ease-out forwards;
}

@media (max-width: 768px) {
  .hero-container {
    width: 90%;
    left: 5%;
    top: 50px;
    flex-direction: column;
  }

  .hero-text {
    font-size: 1.8rem;
    text-align: center;
    margin: 20px 0;
  }

  .hero-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
