.hero-container {
  width: 1865px;
  height: 820px;
  position: relative;
  top: 10px;
  left: 26px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
}

.hero-text {
  width: 1072px;
  height: 363px;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin-left: 30px;
  line-height: 133px;
  display: block;
  overflow: hidden; /* Ensure content stays within bounds during animation */
}
.gradient-container {
  position: relative;
  width: 600px;
  height: 408px;
  margin-right: 80px;
  border-radius: 15px; /* Optional: smooth corners */
  background: rgba(50, 248, 255, 0.1); /* Light transparent fog-like effect */
  box-shadow: 0 10px 30px rgba(50, 248, 255, 0.5); /* Soft fog shadow with the color #32F8FF */
  background-size: cover;
}



.hero-text span {
  display: block;
}

.hero-image {
  width: 989px;
  height: 437px;
  border-radius: 20px;
  flex-shrink: 0;
  margin-top: -89px;
  margin-left: -61px;
  z-index: 1;
}



@media (max-width: 768px) {
  .hero-container {
    width: 90%;
    left: 5%;
    top: 50px;
    flex-direction: column;
  }

  .hero-text {
    font-size: 1.8rem;
    text-align: center;
    margin: 20px 0;
  }

  .hero-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
